@import "tailwindcss";

body {
    margin: 40px;
    background-color: #ddd;
}

.btn {
    background-color: orange;
    padding: 10px 15px;
    margin: 5px 0;
    display: inline-block;
    color: white;
    border-radius: 5px;
    border: 2px orange;
}